html, body {
  text-align: center;
  font-family: Verdana, sans-serif;
  background: #4D4332;
  width: 900px;
  height: 627px;
}

#supercontainer {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -450px;
  margin-top: -313px;
  width: 900px;
  height: 627px;
  background: #ad8c6a;
  box-shadow: 1px 1px 3px #222;
  border-radius: 5px;
}

p, div, button, span {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

html, body, div, span, object,
form, input, h1, h2, button, label, a, img {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

#minimize {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
  z-index: 999999999999;
  background: url('../img/minimize-normal.png') top right no-repeat;
}

#sorry {
  position:absolute;
  top: 0;
  left: 50%;
  margin-left: -230px;
  width: 450px;
  padding: 5px;
  border-radius: 0 0 10px 10px;
  background: yellow;
  color: black;
  font-family: Verdana, sans-serif;
  font-weight: normal;
  font-size: 12px;
  display: none;
}

#minimize:hover {
  cursor:pointer;
  background: url('../img/minimize-hover.png') top right no-repeat; 
}

#container {
  width: 870px;
  margin: 15px auto;
  text-align: left;
}

#left {
  float: left;
  width: 720px;
  height: 597px;
  position: relative;
}

#menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 720px;
  height: 560px;
  /*background: rgba(150, 150, 150, 0.2);*/
  z-index: 1001;
  text-align: center;
  display: none;
}

#canvases {
  background: #2b3c4c;
  height: 560px;
}

#menu .logo {
  position: absolute;
  top: 80px;
  left: 6px;
}

#menu #loading {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(100,100,100,0.5);
  display: none;
  z-index: 100000;
  text-align: center;
  display: none;
  vertical-align: middle; 
}

#loading img {
  margin: 0 auto;
}

#menu #buttons {
  position: absolute;
  top: 230px;
  left: 0;
  width: 100%;
}

#menu button {
  display: block;
  width: 150px;
  height: 50px;
  margin: 20px auto;
  border-style: none;
  color: #fff;
  background-color: #c0262f;
  box-shadow: 3px 3px 3px #111;
  border-radius: 3px; 
  font-size: 20px;
}

#menu button:hover {
  cursor: pointer;
  background-color: #c84444;
}

#menu button:active {
  cursor: pointer;
  background-color: #7e2f2f;
}

#menu #newgames, #menu #othernewgames {
  width: 320px;
  margin: 20px auto;
  height: 50px;
}

#newgames button, #othernewgames button {
  margin: 0;
}

#newgame1p, #newgame3p {
  float: left;
}

#newgame2p, #newgame4p {
  float: right;
}

.message {
  position: absolute;
  left: 0;
  top: 0;  
  font-family: Verdana, sans-serif;
  color: #c0262f;
  font-weight: bold;
  text-align: center;
  width: 200px;
  z-index: 1000000;
  display: none;
  pointer-events: none;
}

#menu #load {
  position: absolute;
  top: 260px;
  left: 0;
  width: 100%;
  display: none;
}

#menu #load #games {
  margin: 0 auto;
  width: 300px;
  height: 200px;
  overflow-y: auto;
  overflow-x: hidden;
}

#games .game {
  display: block;
  width: 270px;
  margin: 10px auto;
  border-radius: 5px;
  background: #333;
  color: #fff;
  box-shadow: 3px 3px 3px #111;
  height: 50px;
  font-family: Verdana, sans-serif;
  position: relative;
}

.game .game_name {
  display: block;
  padding: 5px;
}

.game .game_time {
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  font-size: 12px;
  font-weight: normal;
  font-style: italic;
  padding: 6px;
  color: #bbb;
}

#games .game:hover {
  cursor: pointer;
  background: #555;
}

button.back {
  height: 30px !important;
}

#gameover {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  text-align: center;
}

#gameover .players {
  position: absolute;
  top: 240px;
  left: 160px;
  width: 400px;
  height: 253px;
  background: #FFF;
  opacity: 0.5;
  box-shadow: 1px 1px 4px #444;
  color: #333;
}

#gameover .winner {
  position: absolute;
  top: 200px;
  left: 160px;
  width: 400px;
  height: 32px;
  background: #FFFDBF;
  box-shadow: 1px 1px 4px #444;
  color: #333;
  font-family: Verdana, sans-serif;
  padding: 4px 0 4px 0;
  vertical-align:middle;
  font-weight: bold;
}

#gameover .players div {
  width: 90%;
  margin-bottom:4px;
  text-align: left;
  background: transparent;
  margin: 10px auto;
  font-family: Verdana, sans-serif;
}

#gameover button {
  margin: 0 auto;
  margin-top: 500px;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}

#game-canvas {
  z-index: 1;
}

#menu-canvas {
  z-index: 1000;
}

#controls_container { 
  position: absolute;
  top: 567px;
  height: 30px;
  width: 720px;
}

#controls {
  position: absolute;
  top:0;
  left: 0;
  line-height: 30px;
  height: 30px;
  vertical-align: middle;
  display: none;
}

#controls_background {
  position:absolute;
  top:0;
  left:0;
  height: 30px;
  width: 100%;
  background-color:#2b3c4c;
}

#controls_placeholder {
  font-family: Verdana, sans-serif;
  position:absolute;
  top:0;
  left:0;
  height: 30px;
  line-height: 30px;
  width: 100%;
  vertical-align: middle;
  display: none;
  background-color:#2b3c4c;
  text-align: center;
  color: #fff;
}

#left #playbutton {
  font-size:20px;
  float: left;
  color:#FFFFFF;
  width:100px;
  height:30px;
  background-color:#2b3c4c;
  border-style:none;
  cursor: pointer;
}

#left #playbutton:hover {
  background-color: #777;
}

#left #playbutton:disabled {
  background-color: #777;
  color: #666;
  cursor: default;
}

#left #slider {
  width: 613px;  
  height: 30px;
  margin: 0;
  margin-left: 7px;
  float: left;
  background: #2b3c4c;  
  cursor: pointer;
  position: relative;
}  

#left #timeslider {
  -webkit-appearance: none;  
  width: 100%;  
  height: 30px;
  background: #2b3c4c;  
  margin: 0;
  padding: 0;
  cursor: pointer;
}  

#left #timeslider:disabled { 
  cursor: default;
}  

#left #timeslider::-webkit-slider-thumb {  
  -webkit-appearance: none;  
  width: 15px;  
  height: 30px;   
  background: #fff;
  z-index: 100;
}  

#slider span {
  /* position the text just under the button in the stacking order */
  position: absolute;
  top: 0;
  left: 0;

  z-index: 99;
  width: 100%;
  line-height: 30px;
  text-align: center;

  font-family: Verdana, sans-serif;
  font-size: 14px;
  color: white;
  cursor: default;
  -webkit-user-select: none;

  /* semitransparent gradient mask to animate over the text */
  display: none;
  -webkit-mask-image: -webkit-gradient(
    linear,
    left top,
    right top,
    color-stop(0, rgba(0,0,0,0.3)),
    color-stop(0.45, rgba(0,0,0,0.3)),
    color-stop(0.5, rgba(0,0,0,1)),
    color-stop(0.55, rgba(0,0,0,0.3)),
    color-stop(1, rgba(0,0,0,0.3))
  );
  -webkit-mask-size: 1000px;
  -webkit-mask-repeat: no-repeat;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation: text-spotlight 4s infinite;
}

/* animate the webkit-mark over the text */
@-webkit-keyframes text-spotlight {
  0% {
    -webkit-mask-position: -800px;
  }

  100% {
    -webkit-mask-position: 0px;
  }
}


#right {
  float: left;
  width: 143px;
  height: 597px;
  position: relative;
  margin-left: 7px;
  font-family: Verdana, sans-serif;
}

#background_right {
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background-color:#2b3c4c;
}

#game_right {
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  display: none;
}

#instructions_right {
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background-color:#2b3c4c;
  background-image:url(../img/bar_right.png);
  background-repeat: no-repeat;
  background-position: right bottom;
  color: #fff;
  display: none;
}

#time {
  background: #2b3c4c;
  /*background: -webkit-linear-gradient(top, #666666 0%,#666666 57%,#474747 100%);
  background: linear-gradient(top, #666666 0%,#666666 57%,#474747 100%);*/
  color: #c0262f;
  font-family: Verdana, sans-serif;
  font-size: 40px;
  font-weight: bold;
  padding: 10px;
  text-shadow: 1px 1px 1px #1D2833;
  text-align: center;
  height: 40px;
  margin-bottom: 10px;
}

#right .nav {
  margin: 10px 0; 
  width: 143px;
  background: #666666;
  color: #fff;
}

#right :first-child {
  margin-top: 0;
}

.scrollable {
  margin-top: 10px;
  width: 151px;
}

/*.scrollable::-webkit-scrollbar {
    width: 0px;
}

.scrollable:hover::-webkit-scrollbar {
    width: 6px;
}

.scrollable :last-child, #scrollable :first-child {
  margin-bottom: 0;
}
*/
#right .nav .title {
  font-weight: bold;
  margin-bottom: 5px;
  padding: 7px 5px;
  width: 133px;
  display: block;
}

#right .scrollable {
  height: 490px;
  overflow-y: auto;
  overflow-x: hidden;
}

#player_tiles .player {
  font-size: 8pt;
  height: 20px;
  width: 133px;
  padding: 5px;
  background: #999999;
  line-height: 20px;
  vertical-align: center;
}

#player_tiles .active {
  background: #FFFDBF;
}

.player_name {
  color: #333333;
  font-weight: bold;
}

.player_rank {
  color: #555;
  font-weight:bold;
  padding-left: 8px;
}

.player_score {
  color: #000;
  float: right;
  font-weight: bold;
  text-align: right;
}

#turn_tiles .turn {
  cursor: pointer;
  height:37px;
  width: 133px;
  background: #999999;
  padding: 5px;
  line-height: 20px;
  font-size: 12px;
  color: #333333;
  vertical-align: center;
}

#turn_tiles .turn .player_name {
  font-weight: bold;
}

#turn_tiles .turn:hover {
  background: #fff;
}

#turn_tiles .active {
  background: #FFFDBF;
}

.turn_time {
  font-style: italic;
  font-size: 10px;
}

.turn_time span {
  float: right;
}

#back_to_menu {
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 143px;
  height: 30px;
  color: #fff;
  font-size: 15px;
  background-color:#2b3c4c;
  border-style:none;
  cursor: pointer;
}

#back_to_menu:hover {
  background-color: #777;
}



#circular3dG{
  position:relative;
  margin: 200px auto;
  width:64px;
  height:64px;
}

.circular3dG{
  position:absolute;
  background-color:#ffffff;
  width:18px;
  height:18px;
  -webkit-border-radius:19px;
  -moz-border-radius:19px;
  -webkit-animation-name:bounce_circular3dG;
  -webkit-animation-duration:1.03s;
  -webkit-animation-iteration-count:infinite;
  -webkit-animation-direction:linear;
}

#circular3d_1G{
  left:26px;
  top:4px;
  -webkit-transform:scale(.3);
}

#circular3d_2G{
  left:39px;
  top:15px;
  -webkit-transform:scale(.3);
  -webkit-animation-delay:0.13s;
}

#circular3d_3G{
  left:47px;
  top:29px;
  -webkit-transform:scale(.3);
  -webkit-animation-delay:0.26s;
}

#circular3d_4G{
  left:44px;
  top:43px;
  -webkit-transform:scale(.3);
  -webkit-animation-delay:0.39s;
}

#circular3d_5G{
  left:27px;
  top:47px;
  -webkit-transform:scale(.3);
  -webkit-animation-delay:0.52s;
}

#circular3d_6G{
  left:5px;
  top:31px;
  -webkit-transform:scale(.3);
  -webkit-animation-delay:0.65s;
}

#circular3d_7G{
  left:0px;
  top:9px;
  -webkit-transform:scale(.3);
  -webkit-animation-delay:0.78s;
}

#circular3d_8G{
  left:11px;
  top:0px;
  -webkit-transform:scale(.3);
  -webkit-animation-delay:0.91s;
}

@-webkit-keyframes bounce_circular3dG{
  0%{-webkit-transform:scale(1)}
  100%{-webkit-transform:scale(.3)}
}


/* Let's get this party started  */
::-webkit-scrollbar {
    width: 6px;
}
 
/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(0,0,0,0.3); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1); 
}
::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(0,0,0,0.2); 
}